.app{
    background-color: rgba(0, 0, 0, 0.85);
    color: var(--white);
    height: 100vh;
}

input{
    border: none;
    outline: none;
    padding-left: 1rem;
    padding: 0;
    border-radius: .625rem;
    padding-left: 1rem;
    height: 2.5rem;
    font-size: 1.25rem;
}

button{
    cursor: pointer;
    border: none;
    border-radius: .625rem;
    font-size: 1rem;
    font-weight: bold;
}

button:hover{
    opacity: .8;
    transition: .5s ease-in;
}


input:-internal-autofill-selected{
    background-color: transparent !important;
}