

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1.5rem;
}

.signup-input{
    width: 30%;
    height: 3rem;
    border: .0625rem solid grey;
}

.btn{
    cursor: pointer;
    background-color: rgb(55, 55, 163);
    color: white;
    padding: 1.25rem;
}

span:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(55, 55, 163);
}